

.p4 {
  padding: 4px!important;
}

.p8 {
  padding: 8px!important;
}

.p12 {
  padding: 12px!important;
}

.px4 {
  padding-left: 4px!important;
  padding-right: 4px!important;
}

.px8 {
  padding-left: 8px!important;
  padding-right: 8px!important;
}

.px12 {
  padding-left: 12px!important;
  padding-right: 12px!important;
}

.py4 {
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}

.py8 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.py12 {
  padding-top: 12px!important;
  padding-bottom: 12px!important;
}

.pt4 {
  padding-top: 4px!important;
}

.pt8 {
  padding-top: 8px!important;
}

.pt12 {
  padding-top: 12px!important;
}

.pr4 {
  padding-right: 4px!important;
}

.pr8 {
  padding-right: 8px!important;
}

.pr12 {
  padding-right: 12px!important;
}

.pb4 {
  padding-bottom: 4px!important;
}

.pb8 {
  padding-bottom: 8px!important;
}

.pb12 {
  padding-bottom: 12px!important;
}

.pl4 {
  padding-left: 4px!important;
}

.pl8 {
  padding-left: 8px!important;
}

.pl12 {
  padding-left: 12px!important;
}

.m4 {
  margin: 4px!important;
}

.m8 {
  margin: 8px!important;
}

.m12 {
  margin: 12px!important;
}

.mx4 {
  margin-left: 4px!important;
  margin-right: 4px!important;
}

.mx8 {
  margin-left: 8px!important;
  margin-right: 8px!important;
}

.mx12 {
  margin-left: 12px!important;
  margin-right: 12px!important;
}

.my4 {
  margin-top: 4px!important;
  margin-bottom: 4px!important;
}

.my8 {
  margin-top: 8px!important;
  margin-bottom: 8px!important;
}

.my12 {
  margin-top: 12px!important;
  margin-bottom: 12px!important;
}

.mt4 {
  margin-top: 4px!important;
}

.mt8 {
  margin-top: 8px!important;
}

.mt12 {
  margin-top: 12px!important;
}

.mr4 {
  margin-right: 4px!important;
}

.mr8 {
  margin-right: 8px!important;
}

.mr12 {
  margin-right: 12px!important;
}

.mb4 {
  margin-bottom: 4px!important;
}

.mb8 {
  margin-bottom: 8px!important;
}

.mb12 {
  margin-bottom: 12px!important;
}

.ml4 {
  margin-left: 4px!important;
}

.ml8 {
  margin-left: 8px!important;
}

.ml12 {
  margin-left: 12px!important;
}
